@model int[]

@foreach (var i in Model)
{
    @i
}

@{
    foreach (var i in Model)
    {
        @(i.ToString() +" ");
    }
}

//SampleCode
@{
    foreach (var i in Model)
    {
        @(i+ " ");
        @i@(" ")
    }
}

<ul>
@foreach (var i in Model)
{
    <li>@i</li>
}
</ul>







